.nav {
  color: #160380;
  margin-right: 260px;
  margin-top: 25px;
  margin-left: 10px;

  font-size: larger;
  text-align: left;
  font-size: 20px;
}

.link {
  margin-right: 20px;
  text-decoration: none;
  color: #160380;
  font-weight: bold;
}

.active {
  color: #160380;
  text-shadow: 2px 2px 6px #73bdfa;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: underline;
  transition: 1s;
}
