/* .filter {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 10px;
}

.input {
  box-shadow: 0 14px 28px #d9cfe7, 0 10px 10px #722f37;
  height: 15px;
  border-radius: 6px;
}

.filterName {
  font-size: 15px;
  margin-right: 20px;
  color: #722f37;
  font-weight: 500;
}

.contactsTitle {
  text-align: left;
  font-size: 25px;
  color: black;
  font-weight: bolder;
  text-shadow: 0 14px 28px #d9cfe7, 0 10px 10px #722f37;
}

.filterLabel {
  display: inline-block;
  text-align: left;
}

.userNameStyle {
  color: rgb(108, 8, 165);
  font-weight: bold;
  text-shadow: 0 14px 28px #d9cfe7, 0 10px 10px rgb(108, 8, 165);
  margin-left: 10px;
} */

.filter {
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 4px;
  height: 30px;
  padding-left: 10px;
  width: 335px;
}
.filter form label {
  font-weight: 700;
}

.filter:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.filterInput {
  color: rgb(22, 3, 128);
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
  max-width: 400px;
  padding: 10px;
  background-color: rgb(169, 227, 245);
}
