.userMenu {
  margin-left: auto;
  padding-right: 10px;
}

.outBtn {
  width: 85px;
  height: 20px;
  margin-left: 10px;
  color: #160380;
  background-color: rgba(221, 173, 175, 0.5);
  font-weight: bold;
  border-color: #160380;
  border-radius: 6px;
  transition: 0.5s;
}

.outBtn:hover {
  transform: scale(0.9);
  background-color: #97b0f3;
  border-color: #160380(205, 46, 46);
  box-shadow: 0 14px 28px #92e0f8, 0 10px 10px #160380;
}

.userTitle {
  display: inline-block;
  color: #160380;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
}

.userName {
  color: rgb(30, 7, 114);
  font-weight: bold;
  text-shadow: 0 14px 28px #31aafc, 0 10px 10px rgb(22, 115, 238);
}
